.testsContaiter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.greyText {
    font-size: 16px;
    color: #AEB2A7;
    margin: 0;
}

.basicText {
  font-size: 16px;
  margin: 0;
}
